<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vinylovers</title>
</head>
<body>
  <h1>Market Place</h1>

<ul>
  <% vinyls.forEach((vinyl) => { %>
    <div class="album-container">
      <li>
        <p>Owner username: <%= vinyl.owner %></p>
        <p>Album: <%= vinyl.albumName %> by <%= vinyl.artistName %></p>

      </li>
    </div>
    <!--
    <li><%= vinyl.genre %>Genre:</li>
    <li><%= vinyl.description %>Description:</li>
    <li><%= vinyl.price %>Price:</li>
    <li><%= vinyl.owner %>Sold by:</li>
<<<<<<< HEAD
     <li><%= vinyl.imgUrl %></li> -->
=======
>>>>>>> a9292fb873b052c316bfaa4b82cf85efc444a2cc
<% }) %>
</ul>
<a href="vinyl/add">Add new vinyl</a>
</body>
</html>
