<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/marketplace.css">
  <title>Vinylovers</title>
</head>
<body>
  <h1>Market Place</h1>
  <div>
    <form action="/marketplace" method="POST" id="form-container">
    <span>Filter results by distance in Km</span><input id="distanceSlider" type="range" min="0" max="600" value="<%= maxDistance %>" step="10" />
    <input id="rangevalue" type="number" name="rangevalue" min="0" max="600" value="<%= maxDistance %>"/>
    <button name="button">Search</button>
    </form>
  </div>
<ul>
  <% vinyls.forEach((vinyl) => { %>
    <div class="album-container">
      <li>
        <div class="user">
          <img class="avatar" src="<%= user.imgUrl %>" alt="">
          <p class="username">Owner username: <%= vinyl.owner.username %></p>
        </div>
        <img src="<%= vinyl.imgUrl %>" alt="Imagen del album">
        <p>Album: <%= vinyl.albumName %> by <%= vinyl.artistName %></p>
        <p>Genres: <%= vinyl.genre %></p>
        <p>Price: <%= vinyl.price %></p>
        <p>Description: <%= vinyl.description %></p>
        <% if(user.money < vinyl.price){ %>
          <spam> You do not have enough money</spam>
        <% } else {%>
          <a class="btn" type="button" href="vinyl/buy/<%= vinyl._id %>" name="button">Buy Vinyl</a>
          <%}%>
      </li>
      <hr>
    </div>
</ul>

  <% }) %>
<a href="vinyl/add">Add vinyl</a>
<script type="text/javascript" src="/javascripts/range.js"></script>
</body>
</html>
